/* Centre le contenu verticalement et horizontalement */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

/* Style des boutons de filtre */
.filter-buttons button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(50, 50, 192);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Changement de couleur au survol des boutons */
.filter-buttons button:hover {
  background-color: darkblue;
}
/* Curseur en forme de flèche sur les tâches complétées */
.task-item.completed {
  cursor: default;
}
/* css rajoutés  */
/* App.css */

/* Style du conteneur de la liste de tâches */
.todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Animation pour la liste de tâches */
.todo-list {
  padding: 20px;
  border: 2px solid #ccc; /* Bordure grise */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.034); /* Ombre légère */
  animation: fadeIn 0.5s ease; /* Animation d'apparition */
  display : flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Animation d'apparition */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.filter-buttons{
  display: flex;
  justify-content: space-between;
  
  width: 100%;
}
